%nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top
  .container
    - if user_signed_in?
      %button.navbar-toggler{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '#header_collapse'}
        &#9776;
    - if user_signed_in?
      #header_collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - header_links.each do |key, link|
            = content_tag :li, class: ['nav-item', (current_page?(link[:path]) ? 'active' : '')] do
              = link_to raw(link.delete(:text)), link.delete(:path), link
